@import url(http://fonts.googleapis.com/css?family=Homenaje);
@import url(http://fonts.googleapis.com/css?family=Lato:600,300,100);

body
{
	background: #222;
	font-family: 'Homenaje', sans-serif;
	line-height: 1.5;
}

#logo
{
	width: 255px;
	height: 92px;
	background-image: url('../images/logo.png');
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.content .top
{
	width: 950px;
	height: 14px;
	background-image: url('../images/content_area_top.png');
	margin-left: auto;
	margin-right: auto;
}

.content .center
{
	width: 950px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../images/content_area_center.png');
}

.content .center .container
{
	
	padding-left: 24px;
	padding-right: 24px;

	font-family: 'Lato', sans-serif;


}

.content .center .container .nav_buttons
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.content .center .container .nav_buttons .nav_button
{
	color: #FFF;
	display: inline;
	padding: 5px 15px;;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 14px;
}

.content .center .container .nav_buttons .nav_button:visited, .content .center .container .nav_buttons .nav_button:link
{
	background: #444;
}

.content .center .container .nav_buttons .nav_button:hover
{
	background: #666;
}


.content .center .container .seperator_bar
{
	width: 800px;
	height: 1px;
	background-image: url('../images/seperator_bar.png');
	margin: 12px auto;
}

.content .center .container .page
{
	font-family: 'Lato', sans-serif; 
}

.content .center .container .page .subsection
{
	padding-bottom: 15px;
}

.content .center .container .page .subsection .title
{
	font-weight: 600;
	font-size: 18px;
}

.content .center .container .page .subsection .content
{
	font-weight: 300;
	font-size: 16px;
	
}

.content .center .container .footer
{
	font-family: 'Lato', sans-serif;
	font-weight: 100;

	width: 100%;
	text-align:center;
	font-size: 12px;
	color: #555;
	padding-top: 20px;
}

.content .bottom
{
	width: 950px;
	height: 14px;
	background-image: url('../images/content_area_bottom.png');
	margin-left: auto;
	margin-right: auto;
}